Files\ to\ \move
Front\ End/lsaOut.rda
**/.DS_Store
Simple\ MoJ\ PQs\ tool.twbx
ReadMe.txt
PQTool_0.1.tar.gz
..Rcheck
**/lsaOut.rda
packrat/lib*/
packrat/src/
.Rhistory
.Renviron
Data/.Rhistory
Data/klusters.rda
Data/tdm.rda
data_generators/.Rhistory
Data/clusterings.rda
Data/medianpercluster.rda
Data/silhouettewidths.rda
*.pem
